body {
    background: #FFF8EE;
}

.home-page {
    min-height: 100vh;
    background: #FFF8EE;
}

.home-container {
    padding: 0 32px 0 7px;

    display: flex;
    flex-wrap: wrap;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
}